body {
  line-height: 1.5;
}

.wrapper {
  max-width: 560px;
  margin: auto;
  padding: 80px;
}
.heading-title {
  margin-bottom: 40px;
  font-size: 32px;
  font-weight: bold;
  text-align: center;
}
.result {
  margin-bottom: 40px;
}

.result-img {
  width: 160px;
}

.text-center {
  text-align: center;
}
